<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/auth.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <title>Sudman</title>
    </head>
<body>
        <main>
            
            <section class="right-section">
                <img src="../../img/logo.svg" alt="System logo">
                <form action="/login" method="POST">
                    <label for="username">إسم المستخدم <br>
                        <input type="text" id="username" name="userName" required>
                    </label><br>
                    <label for="password">كلمة المرور <br>
                        <input type="password" id="password" name="passWord" required>
                    </label>
                    <input type="submit" id="send" value="تسجيل الدخول">
                </form>
            </section>

            <section class="left-section">
                <img src="../../img/logo2.png" alt="">
            </section>
        </main>
</body>
</html>