<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <%- include('./layout/head.ejs') %>
<body>
	
	<header>
		<a href="/dashboard"><img src="../img/dashboard2.svg" alt="dashboard Icone">لوحة التحكم</a>
		<form action="/" method="post">
			<label for="serialNumber"> البحث عن جهاز
				<input type="text" id="serialNumber" name="serialNumber" placeholder="أدخل الرقم التسلسلي" required>
			</label>
			<input type="submit" id="sendData" value="بحث">
		</form>
		<img src="../img/logo.svg" alt="System logo">
	</header>
	<main>
		<aside></aside>
		<section class="main"></section>
	</main>

</body>
</html>