<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%- include('./layout/head.ejs') %>
<body>
    <%- include('./layout/homeHeader.ejs') %>

    <main>
        <form action="/" method="post">
            <input type="text" id="serialNumber" name="serialNumber" placeholder="أدخل الرقم التسلسلي" required>
            <input type="submit" value="بحث">
        </form>
    </main>

    <%- include('./layout/footer.ejs') %>
</body>
</html>